body {
  padding: 0;
  margin: 0;
  background-color: #e9eff5;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.header-nav {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-nav_button {
  font-size: 19px;
  color: #111;
  margin: 10px;
}
.header-nav_button:hover {
  color: #ac6161;
  text-decoration: underline;
}

h1, h2 {
  margin-left: 10vw;
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.panel input {
  width: 300px;
}

.panel-button {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

input {
  min-width: 200px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  color: #111;
  padding: 7px 10px;
  margin: 5px;
  border: none;
  background: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
  outline: none;
  transition: font-size 0.2s ease;
}
input:focus {
  font-size: 17px;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #111;
  background: none;
  padding: 7px 10px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #111;
  border-radius: 15px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background 0.2s ease;
}
.button:hover {
  background: #111;
  color: #e9eff5;
}

.table {
  margin-top: 10px;
}
.table table {
  min-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: scroll;
  text-align: center;
}
.table table a {
  text-decoration: underline;
}
.table table a:hover {
  color: #ac6161;
}
.table table th {
  font-size: 12px;
  padding: 5px !important;
}
.table table th span {
  display: block;
  width: 50px;
}
.table table tbody {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.table table tbody td {
  padding: 5px !important;
}
.table table tbody tr img {
  height: 60px;
  width: 60px;
}
.table table tbody tr img.videoPik {
  height: 90px;
  width: 120px;
}
.table table tbody tr[data-href] {
  width: 100%;
  cursor: pointer;
}
.table table tbody tr[data-href]:hover {
  background: #c5c5c583;
}

.title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.title span {
  margin-left: 10px;
}
.title_ava {
  height: 100px;
  width: 100px;
}

.afterwait, .preloader {
  display: none;
}
.afterwait.active, .preloader.active {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #111;
}

.afterwait {
  justify-content: space-evenly;
}
.afterwait_title {
  color: snow;
  font-size: 21px;
  margin-bottom: 20px;
}
.afterwait_subtitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 30px;
}
.afterwait_subtitle .afterwait__close {
  letter-spacing: 0.05em;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  color: #e9eff5;
}
.afterwait_subtitle .afterwait__close:hover {
  text-decoration: underline;
}
.afterwait_subtitle span {
  font-size: 20px;
  color: goldenrod;
}
.afterwait_text {
  color: #e9eff5;
  font-size: 12px;
}

.preloader_title {
  color: #e9eff5;
  font-size: 21px;
}
.preloader_circle {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.preloader_circle span {
  font-weight: bold;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  color: goldenrod;
  font-size: 17px;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
