$snow : rgb(233, 239, 245);

body {
    padding: 0;
    margin: 0;
    background-color: $snow;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.header-nav {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
		&_button {
            font-size: 19px;
            color: #111;
            margin: 10px;
            &:hover {
                color: rgb(172, 97, 97);
                text-decoration: underline;
            }
        }
}

h1, h2 {
    margin-left: 10vw;
}

.panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    input {
        width: 300px;
    }
}
.panel-button {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}
input {
    min-width: 200px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    color: #111;
    padding: 7px 10px;
    margin: 5px;
    border: none;
    background: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #111;
    outline: none;
    transition: font-size .2s ease;
    &:focus {
        font-size: 17px;
    }
}
.button {
    width: fit-content;
    outline: none;
    box-sizing: border-box;
    display: block;
    text-align: center;
    color: #111;
    background: none;
    padding: 7px 10px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #111;
    border-radius: 15px;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: background .2s ease;
    &:hover {
        background: #111;
        color: $snow;
    }
}
.table {
    margin-top: 10px;
    table {
        min-width: 100%;
        width: fit-content;
        overflow-x: scroll;
        text-align: center;
        a {
            text-decoration: underline;
            &:hover {
                color: rgb(172, 97, 97);
            }
        }
        th {
            font-size: 21px;
            padding: 5px !important;
        }
        tbody {
            user-select: text;
            td {
                padding: 5px !important;
            }
            tr {
                img {
                    height: 60px;
                    width: 60px;
                }
            }
            tr[data-href] {
                width: 100%;
                &:hover {
                    background: #c5c5c583;
                }
                cursor: pointer;
            }
        }
    }
}
.title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    span {
        margin-left: 10px;
    }
    &_ava {
        height: 100px;
        width: 100px;
    }
    
}
